body {
    margin: 0;
    background: #1B1B1B;
    font-family: "Microsoft JhengHei UI";
}

::-webkit-scrollbar {
    display: none;
    width: 0;
}

::-webkit-scrollbar-thumb {
    display: none;
    width: 0;
}

header {
    display: flex;
    justify-content: flex-start;
    position: sticky;
    z-index: 1;
    align-items: center;
    background-size: 100%;
    background-color: #1B1B1B;
    width: 100%;
}

.headerLabel {
    font-size: 2vw;
    padding-left: 20px;
    padding-right: 20px;
    width: 100%;
    color: #00FF41;
}

.headerDiv {
    display: flex;
    justify-content: center;
    width: 100%;
}

.headerButton {
    font-size: 2vw;
    font-family: "Microsoft JhengHei UI";
    margin: 0px;
    padding: 20px;
    padding-right: 5%;
    padding-left: 5%;
    background-color: rgba(0, 0, 0, 0);
    border: none;
    color: white;
    transition: 0.8s;
    cursor: pointer;
}

.headerButton:hover {
    color: #00FF41;
}

.headerButton:focus {
    color: #00FF41;
}

/* REVEAL */
.reveal {
    opacity: 0;
    transform: translateY(-30px);
}

.reveal-visible {
    opacity: 1;
    transform: translateY(0);
    transition: 1.5s cubic-bezier(.5, 0, 0, 1);
}

/* Accueil */

.container {
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
    height: 100vh;
}

.accueilDiv {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-bottom: solid 5px;
    height: 100vh;
    scroll-snap-align: center;
    scroll-behavior: smooth;
    border-right: solid;
}

.gradientWord {
    color: #495057;
}

.accueilImg {
    display: flex;
    align-items: center;
    width: 100vh;
    border-radius: 10px;
    margin: 2vh;
}

.accueilLabel {
    background: #ADB5BD;
    font-size: 2vw;
    color: #212529;
    display: block;
    align-items: center;
    width: 100vh;
    height: 90vh;
    border-radius: 10px;
    border: solid;
    border-color: #343A40;
    margin: 2vh;
    padding:2vh;
}

.left {
    box-shadow: -10px 10px #6C757D;
}

.right {
    box-shadow: 10px 10px #6C757D;
}

.skillStarsImg {
    width: 3.5vw;
}

.accueilSkillDiv {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.skillStarsDiv {
    display: flex;
    justify-content: center;
    align-items: center;
}

