body {
    margin: 0;
    background-color: #CAF0F8;
}

::-webkit-scrollbar {
    border: solid;
    background-color: #90E0EF;
}

::-webkit-scrollbar-thumb {
    background: #00B4D8;
    border: solid;
    border-radius: 10px;
}

header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: #00B4D8;
    border-bottom: solid;
    width: 100%;
}

.headerLabel {
    font-size: 35px;
    padding-left: 20px;
    padding-right: 20px;
    width: 100%;
}

.headerDiv {
    display: flex;
    justify-content: center;
    width: 100%;
}

.headerButton {
    border: none;
    font-size: 30px;
    margin: 0px;
    padding: 20px;
    padding-right: 5%;
    padding-left: 5%;
    background-color: #00B4D8;
    outline: none;
    color: white;
}

.headerButton:hover {
    background-color: #90E0EF;
}

.headerButton:focus {
    background-color: #90E0EF;
}

/* REVEAL */
.reveal {
    opacity: 0;
    transform: translateY(-30px);
}

.reveal-visible {
    opacity: 1;
    transform: translateY(0);
    transition: 1.5s cubic-bezier(.5, 0, 0, 1);
}

/* Accueil */

.accueilDiv {
    display: flex;
    justify-content: flex-start;
}

.accueilImg {
    font-size: 40px;
    display: flex;
    align-items: center;
    margin: 2%;
    background-color: #90E0EF;
    width: 50%;
    border: solid;
    box-shadow: 10px 10px black;
}

.accueilLabel {
    font-size: 40px;
    display: flex;
    align-items: center;
    padding-top: 0px;
    margin: 0px;
    padding: 5%;
    width: 50%;
}

/* FOOTER */

footer {
    background-color: #0077B6;
    border-top: solid;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.footerLabel {
    font-size: 25px;
    padding-left: 20px;
    padding-right: 20px;
    padding: 10px;
}

