body {
    margin: 0;
    background: #F8F9FA;
}

header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: #495057;
    background-size: 100%;
    border-bottom: solid;
    width: 100%;
    margin-bottom: 20px;
}

.headerLabel {
    font-size: 2vw;
    padding-left: 20px;
    padding-right: 20px;
    width: 100%;
}

.headerDiv {
    display: flex;
    justify-content: center;
    width: 100%;
}

.headerButton {
    border: none;
    font-size: 2vw;
    margin: 0px;
    padding: 20px;
    padding-right: 5%;
    padding-left: 5%;
    background-color: #495057;
    outline: none;
    color: white;
}

.headerButton:hover {
    background-color: #6C757D;
}

.headerButton:focus {
    background-color: #6C757D;
}

/* REVEAL */
.reveal {
    opacity: 0;
    transform: translateY(-30px);
}

.reveal-visible {
    opacity: 1;
    transform: translateY(0);
    transition: 1.5s cubic-bezier(.5, 0, 0, 1);
}

/* Accueil */

.accueilDiv {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-bottom: 3%;
}

.gradientWord {
    color: #495057;
}

.accueilImg {
    display: flex;
    align-items: center;
    margin: 2%;
    width: 50%;
    border-radius: 2%;
}

.accueilLabel {
    margin: 2%;
    background: #ADB5BD;
    font-size: 2vw;
    font-family: Consolas;
    color: #212529;
    display: block;
    align-items: center;
    padding-top: 0px;
    padding: 5%;
    width: 50%;
    height: 100%;
    border-radius: 10px;
    border: solid;
    border-color: #343A40;
}

.left {
    box-shadow: -10px 10px #6C757D;
}

.right {
    box-shadow: 10px 10px #6C757D;
}

.skillStarsImg {
    width: 3.5vw;
}

.accueilSkillDiv {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.skillStarsDiv {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* FOOTER */

footer {
    background-color: #495057;
    border-top: solid;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.footerLabel {
    font-size: 2vw;
    padding-left: 20px;
    padding-right: 20px;
    padding: 10px;
}

